<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stock Price</title>
	<link rel="stylesheet" type="text/css" href="/static/index.css">
	<link rel="shortcut icon" href="/static/favicon.png">
</head>
<body>

<p id="tt">
	StockPrice
	<a href="/signin"><button class="btn">Login</button></a>
</p>

<p id="desc">Dive deeper into the stock market with our platform offering real-time quotes on all your favorite stocks. Stay informed and make smarter investment decisions with easy access to up-to-date pricing information.</p>

<center>
	<a href="/signup"><button class="btn">Try now</button></a>
</center>
<script type="text/javascript" src="/static/cursor.js"></script>
</body>
</html>